@mixin myPhotos{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    margin-bottom: 3em;
}
section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .avatar{
        .photos{
            height: 25em;
            width: 20em;
            @include myPhotos();
        }
        .photo1{
            background-image: url('images/photo1.png');
        }
        .photo2{
            background-image: url('images/photo2.png');
            margin-top: 80px;
        }
        .photo3{
            background-image: url('images/photo3.png');
        }
        .photo4{
            background-image: url('images/photo4.png');
        }
        .photo5{
            background-image: url('images/photo5.png');
            margin-top: 80px;
        }
        .photo6{
            background-image: url('images/photo6.png');
        }
        .avatar-name{
            text-align: center;
            font-family: sans-serif;
        }
    }
    
}
footer{
    text-align: center;
    font-family: monospace;
    color: darkgray;
}

@media screen and (max-width: 990px) {
    header{
        margin: 0 2em;
    }
    section {
        .avatar{
            .photo4{
                margin-top: 80px;
            }
            .photo5{
                margin-top: 0;
            }
            .photo6{
                margin-top: 80px;
            }
        }
    }
  }

  @media screen and (max-width: 660px) {
    header{
        margin: 0 2em;
    }
    section {
        .avatar{
            .photo2{
                margin-top: 0;
            }
            .photo4{
                margin-top: 0;
            }
            .photo6{
                margin-top: 0;
            }
        }
    }
  }